@import url("https://fonts.googleapis.com/css2?family=Borel&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Gilroy";
  src: url("/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@theme {
  --color-bg: var(--color-sky-100);
  --color-surface: var(--color-sky-50);
  --color-text: var(--color-sky-800);
  --color-accent: var(--color-sky-600);
  --color-border: var(--color-sky-200);

  /* --font-sans: sans-serif; */
  --font-sans: "Nunito", sans-serif;
}

@layer base {
  body {
    @apply bg-bg text-text text-xl bg-grid-lines font-semibold;
  }
}

@utility bg-grid-lines {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, var(--color-sky-200) 2px, transparent 1px),
    linear-gradient(to bottom, var(--color-sky-200) 2px, transparent 1px);
}
